body {
    font-family: "Roboto";
    /* good range for body copy is 14px - 20px */
    font-size: 16px;
    /* 16 * 1.5 */
    line-height: 1.5;
    color: #473538;
    margin:0;
}

header {
    padding: 0 14px;
    /* when we float elem inside of our header, they are taken outside the regular box flow of the page, and as a result our header collapses, to get our header to have its own proper height again, we can use overflow: hidden as a trick to get it working */
    overflow: hidden;
    margin: 0;
}

header h1 {
    float: left;
}

header nav {
    float: right;
    margin-top: 24px;
}

header nav a {
    color: #473538;
    text-decoration: none;
    margin-left: 15px;
    text-transform: uppercase;
    font-weight: 700;
}

.hero {
    background-image: url(../assets/hero.jpg);
    background-size: cover;
    padding-top: 230px;
    padding-bottom: 200px;
    /* to display the part of image we like x(right) y(center) */
    background-position: right center;
}

.hero div {
    /* shrink and grow with the page up to 520px. keeps it fluid and responsive */
    max-width: 540px;
    /* to center use margin auto */
    margin-left: auto;
    margin-right: auto;
    padding-left: 20px;
    padding-right: 20px;
    text-align: center;
}

.hero h2 {
    font-family: "David Libre";
    font-weight: 700;
    font-size: 64px;
    line-height: 1;
    margin-bottom: 15px;
}

.hero p {
    /* to make it narrow and not too long */
    max-width: 400px;
    margin-left: auto;
    margin-right: auto;
}

.flowers {
    /* to fix float overflow and get its height respected by the container */
    overflow: hidden;
}

.flowers img {
    float: left;
    /* by using a percentage width, images will be fluid in relation to the size of the container */
    width: 33.333%;
}

.quotes {
    overflow: hidden;
}

.quotes div {
    float: left;
    width: 50%;
    text-align: center;
    padding: 50px 0 40px 0;
}

.cream-background {
    background-color: #f7f1ee;
}

.quotes img {
    /* no need to use max-width */
    width: 90px;
    /* we can round the corners of elements using pure css by setting it as a percentage it will turn our avatars into a perfect circle */
    border-radius: 100%;
}

.quotes blockquote {
    font-family: "David Libre";
    font-size: 24px;
    font-weight: 700;
    line-height: 1.15;
    max-width: 400px;
    /* text align center doesnt work on elem only on text and images */
    margin: 15px auto 5px auto;
}

.chair {
    /* if we override the bg img, position and padding from our .hero class above (which is also on the element) */
    background-image: url(../assets/full-bleed.jpg);
    background-position: center bottom;
    padding: 0;
    height: 500px;
}

.logos {
    background-color: #eeae9f;
    padding: 20px 20px 35px 20px;
    text-align: center;   
}

.logos p {
    color: #fff;
    font-weight: 700;
    margin-bottom: 10px;
}

.logos img {
    margin-left: 22px;
    margin-right: 22px;
}

footer {
    background-color: #473538;
    padding: 5px 20px 10px 30px;
    overflow: hidden;
}

footer img {
    float: left;
    padding-top: 20px;
}

footer p {
    float: right;
    font-size: 14px;
    color: #ccc9ca;
    font-weight: 700;
    padding-top: 5px;
    font-family: "David Libre";
}

@media (max-width: 600px) {
    .hero h2 {
        font-size: 32px;
    }

    .hero {
        padding-top: 80px;
        padding-bottom: 80px;
    }

    .chair {
        height: 180px;
        margin-top: 0;
    }

    .quotes div {
        float: none;
        /* to reset width that is 50% */
        width: auto;
        padding: 30px 30px 40px 30px;
    }

    .quotes blockquote {
        font-size: 20px;
      }

    .quotes p {
        /* allows to hide property */
        display: none;
    }

    body {
        font-size: 14px;
    }

    header nav {
		/* this will keep our nav vertically aligned with the h1 */
    line-height: 24px;
}

@media (max-width: 430px) {

    header h1,
    header nav {
        float: none;
    }

    header nav a {
        margin-left: 0;
        margin-right: 12px;
    }

    .flowers img {
        float: none;
        width: 100%;
    }

    footer {
        padding: 30px 20px;
    }

}

@media (max-width: 820px) {
    .logos img {
        margin-left: 5px;
        margin-right: 5px;
    }
}

@media (max-width: 640px) {
    .logos img {
        margin: 0 auto 5px auto;
        display: block;
        padding-bottom: 10px;
    }

    .logos img:last-child {
    /* here we remove the margin bottom from the last child */
        padding-bottom: 0;
    }
}

/* these styles will only get applied ABOVE 820px screen width */
@media (min-width: 820px) {

    header {
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        background-color: #fff;
        /* creates a shadow */
        box-shadow: 0 1px 5px 0 rgba(51, 51, 51, 0.3);
    }

    .hero {
        /* this creates the empty space above our hero for the header to sit in */
        margin-top: 50px;
    }
}